.navsection1, .divsection2 {
    background-color: aliceblue;
    border: solid black 1px;
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navsection1 {
    height: 95px;
    padding: 0 20px;
}

.nav-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.nav-right {
    display: flex;
    gap: 20px;
}

.btn {
    border: 2px solid black;
    background: white;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
}

.divsection2 {
    height: 550px;
    margin-top: 5px;
    padding: 0 20px;
}

.divsection2left {
    width: 50%;
    padding: 20px;
}

.divdicsec2right {
    width: 50%;  
    display: flex;
    justify-content: center;  
    align-items: center; 
}

.divdicsec2right img {
    width: 80%; /* Ajusta el tamaño de la imagen según necesites */
    max-width: 300px; /* Define un máximo para evitar imágenes demasiado grandes */
    height: auto; /* Mantiene proporción */
}

.footer {
    background-color: aliceblue;
    border: 1px solid black;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    margin-top: 5px;
}

.contact-info {
    font-size: 16px;
    font-weight: bold;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}


