.navsection1, .divsection2 {
    background-color: rgb(255, 255, 255);
    border: solid black 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navsection1 { 
    height: 95px;
    padding: 0 20px;
}

.nav-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.nav-right {
    display: flex;
    gap: 20px;
}

.btn {
    border: 2px solid black;
    background: white;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
}


